body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #ffffff;
}

.container {
  width: 780px;
  padding: 35px 40px;
  border-radius: 20px;
  background-color: #000000;
}

header h2 {
  font-size: 1.6rem;
}

header .column {
  display: flex;
  align-items: center;
}

header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.1rem;
}

.volume-slider input {
  accent-color: #ffffff;
  cursor: pointer;
}

.keys-check input {
  position: relative;
  width: 60px;
  height: 30px;
  appearance: none;
  border-radius: 30px;
  background-color: #4b4b4b;
  cursor: pointer;
}

.keys-check input::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  background-color: #8c8c8c;
  top: 50%;
  left: 0.3rem;
  border-radius: inherit;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

.keys-check input:checked::before {
  left: 2.1rem;
  background-color: #8c8c8c;
}
